<!DOCTYPE html>
<html>
<head>
  <title>Campus Hire -admin Login</title>
  <link rel="stylesheet" type="text/css" href="/static/css/stylelogin.css">
</head>
<body>
  <section id="login-section">
    <div class="background-image"></div>
    <div class="section-content">
      <h1>Admin Login</h1>
      <form>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button class="login-btn">Login</button>
       
      </form>
    </div>
  </section>
</body>
</html>
