<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campus Hire</title>
  <link rel="stylesheet" href="/static/css/editprofile.css">
</head>
<body>
  <header>
    <div class="navbar">
      <div class="logo">
        <h1>Campus Hire</h1>
      </div>
      <ul class="nav-links">
        <li><a href="/studentview/">Home</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>
  </header>

  <section id="editprofile">
    <div class="glass-section">
      <h2>Edit Student Details</h2>
      <form>
        <label for="Name">Name:</label>
        <input type="text" id="name" name="college">

        <label for="Username">Username:</label>
        <input type="text" id="Username" name="username">

        <label for="Email">Email:</label>
        <input type="text" id="skills" name="skills">

        <label for="Password">Password:</label>
        <input type="text" id="projects" name="projects">

       

        <div class="submit-btn">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>
