<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campus Hire</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1 class="logo">Campus Hire</h1>
    <nav>
      <ul>
        <li><a href="#job-placements">Job Placement</a></li>
        <li><a href="#resume-maker">Resume Maker</a></li>
        <li><a href="#aptitude">Aptitude Training</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/admin">Admin Login</a></li>
      </ul>
    </nav>
  </header>
  <section id="top-section" class="section">
    <div class="background-image"></div>
    <div class="section-content">
      <div class="content-left">
        <h1>Welcome to Campus Hire</h1>
        <p>Your pathway to success in the job market</p>
        <div class="container">
         <a href="\login\" class="btn">Learn More</a></div>
      </div>
      <div class="content-right">
        <img src="/static/images/robot.png" alt="Floating Image" class="floating-image">
      </div>
    </div>
  </section>
  <section id="recruiter-logo-section">
    <div class="logo-container">
     <div class="logo-carousel">
        <img src="/static/images/google.jpg" alt="Company Logo 1">
        <img src="/static/images/Adobe-logo.png" alt="Company Logo 2">
        <img src="/static/images/ibmlogo.png" alt="Company Logo 3">
        <img src="/static/images/nvidia.png" alt="Company Logo 4">
        <img src="/static/images/Intel-logo.png" alt="Company Logo 5">
        <img src="/static/images/amd.png" alt="Company Logo 6">
        <img src="/static/images/dolby.png" alt="Company Logo 7">
      </div>
    </div>
  </section>
  <section id="job-placements" class="section">
    <div class="background-image2"></div>
    <div class="content-left">
      <img src="/static/images/job.png" alt="Floating Image" class="floating-image">
    </div>
    <div class="container">
      <h2>Job Placements</h2>
      <p>Unlock your career opportunities.</p>
      <a href="\login\" class="btn">Learn More</a>
    </div>
  </section>

  <section id="resume-maker" class="section">
    <div class="background-image3"></div>
    <div class="container">
      <h2>Resume Maker</h2>
      <p>Looking for a job? It starts with a Professional Resume. Let us build one for you!</p>
      <a href="\login\" class="btn">Learn More</a>
    </div>
    <div class="content-right">
      <img src="/static/images/resumepic.png" alt="Floating Image" class="floating-image">
    </div>
  </section>

  <section id="aptitude" class="section">
    <div class="background-image4"></div>
    <div class="content-left">
      <img src="/static/images/aptitude.jpg" alt="Floating Image" class="floating-image">
    </div>
    <div class="container">
       <h2>Aptitude Training</h2>
      <p>Empowering you to reach new heights and secure your dream career.</p>
      <a href="\login\" class="btn">Learn More</a>
    </div>
  </section>

  <section id="contact" class="section">
    <div class="background-image5"></div>
    <div class="content-right">
      <img src="/static/images/contactus.png" alt="Floating Image" class="floating-image">
    </div>
    <div class="container">
      <h2>Contact us</h2>
      <p>Contact us for more information.</p>
      <a href="" class="btn">Contact Us</a>
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>
